@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif ;
}
body{
    margin: 0;
    padding:0;
    background: #e9e9e9;
}
.content{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}


.shadow-box{
    background: white;
}
p{
    padding: 0;
    margin: 0;
}
@media (min-width: 700px) {
    .shadow-box{
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    }
}

.dangnhap-wrapper .company-details {
    background: url("/web/img/trangchu/trangchu1.jpg");
    background-size: cover;
  position:relative;
}
.dangnhap-wrapper .company-details:before {
    content: "";
  position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%);
}

.dangnhap-wrapper .company-details .wrapper-1{
    position: relative;
    padding-bottom: 10px;
    padding-top: 22px;

}
.dangnhap-wrapper .company-details .logo {
    padding: 0 20px;
    width: 20%;
    margin: 0 auto;
}
/* .dangki-wrapper .company-details .logo .icon-logo {
    background: url(../img/favicon/android-chrome-512x512.png);
    background-size:contain ;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    margin: 0 auto;
} */
.dangnhap-wrapper .company-details .title {
    padding: 20px;
    width: 74%;
    margin: 0 auto;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 2em;
    text-shadow: 1px 1px #4b4a4a;
    text-align: center;
  
}
.dangnhap-wrapper .company-details .slogan {
   display: none;
}

.dangnhap-wrapper .dangnhap-form .wrapper-2{
    padding: 14px 20px;
    margin: 30px 80px;
}
.dangnhap-wrapper .dangnhap-form .form-title{
    font-size: 1.5em;
    color:  #000000;
    padding: 5px;
    text-align: center;

}
.dangnhap-wrapper .dangnhap-form .form .content-item{
    text-transform: uppercase;
    color: #A19F9C;
    font-size: 0.7em;
    letter-spacing: 1px;
    margin-top: 35px;
    text-align: center;
}
.dangnhap-wrapper .dangnhap-form .form input[type=text],.dangnhap-wrapper .dangnhap-form .form input[type=password]{
    border: none;
    border-bottom: 1px solid #e4e4e4;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    width: 100%;
}
.dangnhap-wrapper .dangnhap-form .dangnhap {
    background-color: #030303;
    border: none;
    color: white;
    padding: 15px 25px;
    font-size: 1em;
    text-transform: capitalize;
    margin-top: 49px;
    border-radius: 5px;

}
.dangnhap-wrapper .dangnhap-form .dangki{
    color: #000000;
    padding: 20px;
    font-weight: 600;
    text-decoration: none;
    font-size: 0.7em;
    width: 95%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;

}
input::placeholder {
    color: #575757;
}

@media (min-width: 200px) {

    .dangnhap-wrapper .dangnhap-form .wrapper-2{
        margin: 30px 23px;
    }

    .dangnhap-wrapper .company-details .title {
        width: 90%;
        font-size: 1.5em;
    }

}
@media (min-width: 300px) {
    .dangnhap-wrapper .dangnhap-form .dangki{
        display: inline-block;
    }
    .dangnhap-wrapper .dangnhap-form .wrapper-2{
        margin: 30px 60px;
    }

    .dangnhap-wrapper .company-details .title {
        width: 80%;
       font-size: 2em;
    }

}
@media (min-width: 500px) {
    .dangnhap-wrapper .dangnhap-form .dangki{
        display: inline;
    }
}

@media (min-width: 700px) {
    .dangnhap-wrapper .company-details,
    .dangnhap-wrapper .dangnhap-form {
        width: 50%;
    }
    .dangnhap-wrapper {
       display: flex;
        max-width: 700px;
        margin: 0 auto;
        margin-top: 5%;
    }
    .dangnhap-wrapper .company-details .wrapper-1 {
        padding-bottom: 150px;
        padding-top: 160px;
    }
    .dangnhap-wrapper .company-details .slogan {
        padding: 0 20px;
        width: 70%;
        margin: 0 auto;
        color: #fff;
        font-size: 1.2em;
        text-align: center;
        text-shadow: 1px 1px #4b4a4a;
        display: block;
    }
    .dangnhap-wrapper .company-details .title {
        width: 76%;
    }
    .dangnhap-wrapper .dangnhap-form .wrapper-2{
        padding: 50px 40px;
        margin: 0;
    }

    .dangnhap-wrapper .dangnhap-form .dangki{
        display: inline;
    }
    .dangnhap-wrapper .dangnhap-form .form .content-item{
        text-align: initial;
    }
    .dangnhap-wrapper .dangnhap-form .form input[type=text],.dangnhap-wrapper .dangnhap-form .form input[type=password]{
        text-align: initial;

    }
   .dangnhap-wrapper .dangnhap-form .form-title{
        text-align: initial;
     padding :0;
    }

}
