USE [master]
GO
/****** Object:  Database [Assignment_PRJ]    Script Date: 22/03/2022 11:05:59 SA ******/
CREATE DATABASE [Assignment_PRJ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assignment_PRJ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Assignment_PRJ.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Assignment_PRJ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Assignment_PRJ_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignment_PRJ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignment_PRJ]
GO
/****** Object:  Table [dbo].[account]    Script Date: 22/03/2022 11:05:59 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[idACC] [int] IDENTITY(1,1) NOT NULL,
	[user] [nvarchar](50) NULL,
	[pass] [nvarchar](50) NULL,
	[isAdmin] [int] NULL,
	[isUser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[category]    Script Date: 22/03/2022 11:05:59 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[idCategory] [int] IDENTITY(1,1) NOT NULL,
	[nameCa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[comment]    Script Date: 22/03/2022 11:05:59 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[idComment] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[idACC] [int] NULL,
	[idNews] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idComment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[news]    Script Date: 22/03/2022 11:05:59 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[idNews] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[thumbnail] [nvarchar](255) NULL,
	[shortDescription] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[idACC] [int] NULL,
	[idCategory] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idNews] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([idACC])
REFERENCES [dbo].[account] ([idACC])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([idNews])
REFERENCES [dbo].[news] ([idNews])
GO
ALTER TABLE [dbo].[news]  WITH CHECK ADD FOREIGN KEY([idACC])
REFERENCES [dbo].[account] ([idACC])
GO
ALTER TABLE [dbo].[news]  WITH CHECK ADD FOREIGN KEY([idCategory])
REFERENCES [dbo].[category] ([idCategory])
GO
USE [master]
GO
